extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p= about
      <br /><br />
  .row
    .col-xs-12
      p.lead Developed and managed by #{developer}
