extends navBoy

block navigator
  form.form-horizontal(action='', method='post')
    - if(error='val')
      .alert.alert-danger(role='alert') Error!!

    .form-group
      label.col-xs-3.control-label(for='name') Name
      .col-xs-7
        input#name.form-control(name='name', value=#{boyDetails.name})

    .form-group
      label.col-xs-3.control-label(for='email') Email
      .col-xs-7
        input#email.form-ontrol(name='email', value=#{boyDetails.email})

    .form-group
      label.col-xs-3.control-label(for='password') Password
      .col-xs-7
        input#password.form-control(name='password', type='password', value=#{boyDetails.password})

    .form-group
      label.col-xs-3.control-label(for='password') Re-Type Password
      .col-xs-7
        input#password.form-control(name='password', type='password')

  button.btn.btn-default.pull-right(name='editBoyDetails') Edit
