extends layout

block navigator
  form.form-horizontal(action='', method='post', role='form')
    - if(error="val")
      .alert.alert-danger(role='alert') Error!!

    .form-group
      label.col-xs-3.control-label(for='name') Name
      .col-xs-7
        input#name.form-control(name='name')

    .form-group
      label.col-xs-3.control-label(for='password') Password
      .col-xs-7
        input#password.form-control(name='password', type='password')

    .form-group
      label.col-xs-3.control-label(for='email') Email
      .col-xs-7
        input#email.form-control(name='email')

    .form-group
      label.col-xs-3.control-label(for='address') Address
      .col-xs-7
        input#address.form-control(name='address', multiple)

  button.btn.btn-default.pull-right(name='signInUser') SignUp
